body{
    background-color: black;
}
.all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.banner{
    width: 100%;
   max-height: 70vh;
   object-fit: contain;
    margin-top: 5%;
    
}
.img_container{
    display: flex;
    justify-content: center;
   z-index: -1;
   
}
.myimg{
position: absolute;
opacity: 0.5;
}
.myimg img{
    width: 80%;
    object-fit: fill;
    
}
.buttons{
    margin: 20px 0;
    opacity: 1;
}
.buttons button{
    padding: 6px 10px;
    margin: 3px;
    background:none;
    color: white;
    border-radius: 5px;
    outline: 1px;
}
.buttons button:hover{
    background-color: white;
    color: black;
}
.img_container img{
    width: 65vw;
    height: 497px;
    opacity: 0.5;
    border-radius: 10px;
}
.content{
   position: relative;
   z-index: 1;
   color: rgb(248, 248, 248);
  margin-top: 10%;
   max-width: 40%;
   height: 448px;
   right: 10%;
}